<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Gen 12 Model Monitoring</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/prestige_logo_favicon.PNG') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Plotly -->
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
</head>

<body>
    <!-- Loader -->
    <div class="loader" id="loader"></div>

    <!-- Header -->
    <div class="container" id="Top-of-Page">
        <header class="text-center">
            <img src="{{ url_for('static', filename='img/prestige_logo.PNG') }}" alt="Header" style="max-width: 100%;">
        </header>
    </div>

    <!-- NavBar -->
    <nav class="container mb-4 navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav justify-content-between">
                <li class="nav-item active active">
                    <a class="nav-link" href="#Top-of-Page">Top of Page</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#Main-Table">Main Table</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mb-4">
        <div class="row">
            <div class="col-lg-12">
                <h2>Gen 12 Model Monitoring</h2>
                <p>Model monitoring is systematically conducted during the loan origination process to observe the Gen 12 model over time. This discerns and diagnoses factors contributing to potential model degradation and limitations in generalization capabilities. Model monitoring serves to signify instances necessitating the refreshment or reconstruction of models, as well as adjustments to policies, approval rates, and tier thresholds.</p>
            </div>
        </div>
    </div>

    <!-- Main Table -->
    <div class="container mb-4" id="Main-Table">
        <div class="row">
            <div class="col-lg-12">
                <h2>Main Table</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive" id="sorted-table">
                    {{ df_html_main_table | safe }}
                </div>
            </div>
        </div>
    </div>

    <!-- Bottom of Page -->
    <div class="container mb-4">
        <div class="row">
            <div class="col-lg-12">
                <p class="text-center">
                    <a href="#Top-of-Page">Back to Top</a>
                </p>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <footer class="footer text-center">
                    <p>&copy; {{ int_year_now }} Aaron England. All Rights Reserved.</p>
                </footer>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <!-- jQuery - DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    
    <!-- jQuery - DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    
    <!-- Custom JS -->
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/script.js') }}"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</body>

</html>
