body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    letter-spacing: 2px;
}

p {
    line-height: 1.8;
}

/* Styles for the loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 55, 145, 0.7);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader:before {
    content: "";
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Hide loader initially */
.loader.hidden {
    display: none;
}

header {
    background-color: white;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}



h2 {
    text-align: center;
    font-size: 56px;
    font-weight: bold;

}



.navbar-nav {
            margin: 0 auto;
        }

.navbar-nav a {
    color: black;
}

.navbar-nav a:hover {
    background-color: #2b2e36;
    color: black;
}

.section-background {
    color: lightblue;
    max height: 100px;
}

.section-break {
    height: 100px; /* Adjust height as needed */
    background-color: lightblue; /* Replace with your desired color */
    margin: 40px 0; /* Adjust top and bottom margin as needed */
}

.section-break-white {
    height:50px;
    background-color: white;
    margin:40px 0;
}

.section-break-white-img {
    height:20px;
    background-color: white;
    
}

.footer {
    text-align: center; /* Center-align text */
    padding-top: 40px;
}