<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dealer Information</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='shared/prestige_logo_favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        
        .col-lg-4 {
            border: 1px solid black; /* Border for design */
            margin-top: 50px;
        }
        
        .introduction {
            margin-bottom: 100px;
            margin-top: 75px;
        }

        
    </style>

</head>


<body>
    <header>
        <img src="{{ url_for('static', filename='shared/prestige_logo.PNG') }}" alt="Header" style="max-width: 100%;">
    </header>

    <!-- Nav Bar -->
    <div id="Top-of-Page" class="navbar">
    <a href="/">Home</a>
    <a href="tiers_page">Tiers Information</a>
    <a href="gen_scores">Gen Scores</a>
    </div>

    <section class="introduction">
        <h2>Dealer Page</h2>
        <p><center>This page hold information about our most productive dealers in terms of Amount of applications received, applications approved, and applications funded</center></p>
    </section>        

    <section>
       <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div id="pie-chart">
                        {{ appgroup_html|safe }}
                    </div>
                </div>
                <div class="col-lg-4">
                    <p>These our the top 10 dealers in terms of applications received in 2024. On the top end you can see <a href="https://www.mccluskeychevrolet.com/">MCCLUSKEY CHEVROLET, INC.</a> is at the top of the list with
                    7,635 applications since the start of 2024.</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                        <p>When looking forward to the approved group we can see much of the same based on the applications received, One stand out is that <a href="https://northwestindianaautofinance.com/">NORTHWEST INDIANA AUTO FINANCE</a> jumpes up a few ranks amongst it's peers</p>
                </div>
                <div class="col-lg-8">
                    <div id="pie-chart">
                    {{ approvegroup_html|safe }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
       <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div id="pie-chart">
                        {{ fundedgroup_html|safe }}
                    </div>
                </div>
                <div class="col-lg-4">
                    <p>Finally, when we look to the funded groups, we can see that <a href="https://ridetimeautofinance.com/"> RIDE TIME AUTO FINANCE </a>takes the lead. MCCLUNSKEY, who recieved over 7000 applications, and with just over 100 funded accounts (roughtly 1 in every 70 applications approved)</p>
                </div>
            </div>
        </div>
    </section>

    <div class="container mt-3">
        <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" title="I wanna go home :(" onclick="window.location.href='/'">
            Home
        </button>
    </div>

    
    <footer class="footer">
        <p>&copy; {{ int_year_today }} Bridger Hyde - Prestige. All Rights Reserved.</p>
    </footer>
</body>
</html>