<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dealer Information</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='shared/prestige_logo_favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        .table-wrapper {
    overflow-y: auto;
    max-width: 100%; /* Ensure the wrapper doesn't exceed the section's width */
    max-height: 100%;
         }
    </style>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='shared/prestige_logo.PNG') }}" alt="Header" style="max-width: 100%;">
    </header>
    <div class="container-fluid">
        <!-- Nav Bar -->
        <div id="Top-of-Page" class="navbar">
        <a href="/">Home</a>
        <a href="tiers_page">Tier Information</a>
        <a href="dealer_page">Dealer Information</a>
    </div>

        <section class="container-fluid"> 
            <div class=row>
                <div class="col-sm-12">
                    <div class="table-wrapper">
                        {{ genscores_html|safe }}
                    </div>
                </div>
            </div>        
        </section>
</body>
</html>