<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Bridger's First Flask Web App</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='shared/prestige_logo_favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/script.js') }}"></script>

    <style>
        .section-text {
            padding: 10px 200px;
            background-color: #cbdbf2;
            margin-bottom: 20px
        }
    </style>    
</head>

<body>
    <header>
        <img src="{{ url_for('static', filename='shared/prestige_logo.PNG') }}" alt="Header" style="max-width: 100%;">
    </header>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="tiers_page">Tier Information</a>
                <a class="navbar-brand" href="dealer_page">Dealer Information</a>
                <a class="navbar-brand" href="gen_scores">Gen Scores</a>
            </div>    
        </nav>        
        

        <section id="First-Section" class="section">
            <h2>Bridger's First Flask Web App</h2>
            <p><center>Current datetime: {{ dtm_now }}</center></p>
        </section>

        

        <section id="Seven-Section" class="section-text">
            <div class="row">
                <div class="col-sm-6">
                        <h2>Tiers of  loans</h2>
                        <p><center>Loan tiers are a crucial part of understanding the business cycle. They are used to determine the terms and conditions of a loan based on the borrower's creditworthiness.
                                    These tiers influence the interest rate, loan amount, repayment terms, and elidgibility criteria. The tiers in our loan classification system fall into one of these groups:
                        </center></p>
                        <p><center>A1: (info about A1 loans here)</center></p>
                        <p><center>A: (info about A loans here)</center></p>
                        <p><center>B: (info about B loans here)</center></p>
                        <p><center>C: (info about C loans here)</center></p>
                        <p><center>D: (info about D loans here)</center></p>
                        <p><center> For more information about Tiers of funded loans click <a href="tiers_page">Here</a></center></p>
                </div>    
                <div class="col-sm-6">   
                        <h2>Car Dealerships</h2>
                        <p><center>At Prestige, we work closely with both independant and franchised dealerships all across the country. We offer a range of auto loan products designed to meet the needs of various buyers, including those with less-than-perfect credit scores. By partnering with us, dealerships are able to offer a wider variety of financing options to their customers, improving customer satisfaction all while increasing their own sales volume click <a href="dealer_page">Here</a> for more information on some of our top dealers</center></p>
                </div>
            </div>            
        </section>               
       

           
        <section id="Second-Section" class="section">
            <h2>Dark Scoring Data</h2>

            <div class="table-wrapper">
                {{ df_html_scores|safe }}
            </div>
        </section> 

        <footer class="footer">
            <p>&copy; {{ int_year_today }} Bridger Hyde - Prestige. All Rights Reserved.</p>
        </footer>

        
    </div>
</body>

</html>