<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiers Page</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='shared/prestige_logo_favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>



    <style>

        .graph-container {
            position: relative;
            margin-top: 35px;
            margin-left: 130px;
            height: 450px;
            width:700px;
        }

        .graph {
            position: absolute;
            width: 100%;
            height: 100%;
        }



        .graph-container.active {
            display: block;
            align-items: center;
        }

        button {
            margin-top: 35px;
            padding: 10px 10px;
            font-size: 25px;
            cursor: pointer;
        }

        .graph.active {
            z-index: 1;
        }

        .graph.inactive {
            z-index: 0;
        }
        
    </style>
</head>

    
<body>
    <header>
        <img src="{{ url_for('static', filename='shared/prestige_logo.PNG') }}" alt="Header" style="max-width: 100%;">
    </header>
<div class="container-fluid">
    <!-- Nav Bar -->
    <div id="Top-of-Page" class="navbar">
    <a href="/">Home</a>
    <a href="dealer_page">Dealer Information</a>
    <a href="gen_scores">Gen Scores</a>
    </div>


        <section id="TierPieCharts" class="section">
            <div class="container mt-3">
                <h3>Tiers Data</h3>
                <p class="text-warning"><center>Click on the year of tier information you would like to see. You can remove features by clicking on the legend.</center></p>
                <div class = "row">
                    <div class = "col-sm-1">
                        <button type="button" class="btn btn-primary btn-lg" onclick="showGraph('graph1')">2024</button>
                        <button type="button" class="btn btn-primary btn-lg" onclick="showGraph('graph2')">2023</button>
                        <button type="button" class="btn btn-primary btn-lg" onclick="showGraph('graph3')">2022</button>
                        <button type="button" class="btn btn-primary btn-lg" onclick="showGraph('graph4')">2021</button>
                        <button type="button" class="btn btn-primary btn-lg" onclick="showGraph('graph5')">2020</button>
                        <button type="button" class="btn btn-primary btn-lg" onclick="showGraph('graph6')">All</button>
                    </div>
                    <div class="col-sm-11">
                        <div class="graph-container">
                            <div id="graph1" class="graph active">
                                {{ figpie_html|safe }}
                            </div>

                            <div id="graph2" class="graph inactive">
                                {{ figpie2_html|safe }}
                            </div>

                            <div id="graph3" class="graph inactive">
                                {{ figpie3_html|safe }}
                            </div>

                            <div id="graph4" class="graph inactive">
                                {{ figpie4_html|safe }}
                            </div>

                            <div id="graph5" class="graph inactive">
                                {{ figpie5_html|safe }}
                            </div>

                            <div id="graph6" class="graph inactive">
                                {{ figpie6_html|safe }}
                            </div>
                        
                        </div>
                    </div>
                </div>    
            </div>    
                    <script>
                         function showGraph(graphId) {
                            // Hide all graphs
                            document.querySelectorAll('.graph').forEach(container => {
                                container.classList.remove('active');
                                container.classList.add('inactive');
                                   });

                            // Show the selected graph
                            document.getElementById(graphId).classList.add('active');
                            document.getElementById(graphId).classList.remove('inactive');
                              }
                    </script>

        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="cl-sm-9">
                        <p><center>Above is information regarding loan tiers frome the year 2020 - Current. Interesting notes:</center></p>
                    </div> 
                    <div class="cl-sm-3">           
                        <p><center>By 2022, A1 loans were The lowest in previous years and by 2023, A1 loans have peaked</center></p>
                        <p><center>Year over year the amount of B Tier loans has increased by an average of 5%</center></p>
                    </div>
                </div>           
            </div>
        </section>


        

        <!--Tier Map HTML -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <section id="Map-Section" class="section">
                        <h2>Map Of Funded Accounts 2024</h2>
                        <div id="choropleth-map">
                            {{ figmap_html|safe}}
                        </div>
                        <p><center>The Map of Funded Accounts shows that there were the most Loans funded in Illinois, just over 1300 loans</center></p>
                    </section>
                </div>
                <div class="col-lg-6">
                    <section id="TiersByState" class="section">
                        <h2>Tiers By State</h2>
                        <div id="bar-chart">
                            {{ stackedbar_html|safe }}
                        </div>
                        <p><center>This Stacked Bar Chart shows the tiers of loans seperated by each state in which loans were funded in.</center></p>
                    </section>
                </div>
            </div>
        </div>

        <!--Tier Bar Chart HTML -->
        <section id="Sixth-Section" class="section">
            <h2>Tier Bar Chart 2024</h2>
            <p><center>Tiers of funded loans from the start of 2024 to current. Interact with the bar chart to gain more insight.</center></p>
            <div id="bar-chart">
                {{ interact_tierbar_html|safe }}
            </div>
            <p><center>From this Bar Chart we can see that there were over 5000 Loans that were classified as B Tier loans, while there were only 880 Loans in the A1 Tier since the start of 2024</center></p>
        </section>
        <div class="container mt-3">
        <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" title="I wanna go home :(" onclick="window.location.href='/'">
            Home
        </button>
    </div>
</div>    
    <footer class="footer">
        <p>&copy; {{ int_year_today }} Bridger Hyde - Prestige. All Rights Reserved.</p>
    </footer>

</body>
</html>